@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
</head>
<body>
		<h1> Error occurs while @ViewData["MSG"]
		@Html.ActionLink("[Back]", "Index", "Librarian")
</body>
</html>

