@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>OverdueFee</title>
</head>
<body>
		<h1>You're lated return this book : Overdue fee = @ViewData["MSG"]</h1>
		<h3>please oay this fee before return ! </h3>
</body>
</html>

