@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>SearchNotFound</title>
	
</head>
<body>
		  <h1> Search not found @ViewData["MSG"]
        @Html.ActionLink("[Back]", "Index", "Library")
</body>
</html>

