@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Edit Librarian</title>
		<asp:ContentPlaceHolder id="Stylesheets" runat="server">
        <link href='http://fonts.googleapis.com/css?family=Kavoon' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="../Scripts/four-part-square-menu-css3.css" />
        <link rel="stylesheet" type="text/css" href="../Scripts/table.css" />
        </asp:ContentPlaceHolder>
	@model LibraryProject.Entities.Member
</head>
<body>
	<div class="toolinfy-frame">
    <a href="../Home" class="back-link">Library System</a><br style="clear:both;"/>
    </div>
		<h1>Edit Member</h1>
	@using (Html.BeginForm("EditMember","Member"))
{
    <label>Member ID: </label>
    @Html.TextBoxFor(model => model.memberId,new { @readonly="readonly" })<br>
    <label>Name: </label>
    @Html.TextBoxFor(model => model.memberName)<br>
    <label>Username: </label>
    @Html.TextBoxFor(model => model.username,new { @readonly="readonly" })<br>
    <label>Password: </label>
    @Html.TextBoxFor(model => model.password)<br>
    <input type="submit" value="Edit">
}
</body>
</html>

